*{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.dados{
    margin: auto;
    width:300px;
}

a{
    text-decoration: none;
    display: block;
    margin: auto;
}

table,th,td{
    border: solid 1px;
    border-collapse: collapse;
}

table{
    margin: auto;
}
.cad{
    margin: auto;
    width: 200px;
    text-align:center;
}